- provide(:title, "Reservation details")
.about
  .reservation-group
    %p
      = @target.date
      　#{@target.time}
    %p
      = @target.course.name
      　#{@target.staff.name}
  .reservation_list
    %table
      - @details.each do |d|
        %tr
          %th= d.user.name
          %td= button_to 'キャンセル'
      %tr
        %th{:colspan => "2"}= link_to "予約する", "/reservation/#{@target.id}"
