<% provide(:title, "Home") %>
<div>
  <div class="container">
    <div class="row">
      <!-- 検索 -->
      <%= form_for(:session, url: login_path) do |f| %>

      <div class="col-sm-2 col-xs-6">店舗名</div>
      <div class="col-sm-4 col-xs-6"><%= f.collection_select :facility_id, @facility, :facilityid, :facilityname, :include_blank => true %></div>
      <div class="col-sm-2 col-xs-6">コース名</div>
      <div class="col-sm-4 col-xs-6"><%= f.collection_select :id, @course, :id, :name, :include_blank => true %></div>
      <div class="col-sm-2 col-xs-6">インストラクター名</div>
      <div class="col-sm-4 col-xs-6"><%= f.collection_select :id, @staff, :id, :name, :include_blank => true %></div>
      <div class="col-sm-2 col-xs-6">日時</div>
      <div class="col-sm-4 col-xs-6"><%= f.collection_select :facility_id, @facility, :facilityid, :facilityname, :include_blank => true %></div>
      <div class="col-sm-2 col-xs-6">顧客名</div>
      <div class="col-sm-4 col-xs-6"><%= f.collection_select :id, @staff, :id, :name, :include_blank => true %></div>

      <%= f.submit "検索", class: "btn btn-primary" %>
      <% end %>

      <!-- 表示欄 -->
    </div>
  </div>
</div>
