- provide(:title, "Reservation Management")
.res-manage
  / 検索
  = form_for(:static_pages, url: search_path) do |f|
    .container
      .row.search
        .col-sm-2.col-xs-6 日付
        .col-sm-4.col-xs-6
          %input.selectdate{:type => "date"}/
        .col-sm-2.col-xs-6 時間
        .col-sm-4.col-xs-6
      .row.search
        .col-sm-2.col-xs-6 インストラクター名
        .col-sm-4.col-xs-6= f.collection_select :id, @staff, :id, :name, :include_blank => true
        .col-sm-2.col-xs-6 コース名
        .col-sm-4.col-xs-6= f.collection_select :id, @course, :id, :name, :include_blank => true
      .row.search
        .col-sm-2.col-xs-6 顧客名
        .col-sm-4.col-xs-6= f.collection_select :id, @user, :id, :name, :include_blank => true
      = f.submit "検索する", class: "btn btn-primary center-block"
  .reservation_detail
    %table
      %tr
        %th 日付
        %th 時間
        %th コース名
        %th インストラクター名
        %th 予約状況
      - @details.each do |d|
        %tr
          %td= d.date
          %td= d.time
          %td= d.course.name
          %td= d.staff.name
          %td
            %li= link_to "◯", "/about/#{d.id}"
        %tr
