<% provide(:title, "Home") %>
<div class="center jumbotron">
  <div class="row">
    <div class="col-md-6 col-md-offset-3">
      <!-- 検索 -->
      <%= form_for(:session, url: login_path) do |f| %>

      <table class="table">
        <tbody>
          <tr>
            <th>店舗名</th>
            <td><%= f.collection_select :facility_id, @facility, :facilityid, :facilityname, :include_blank => true %></td>
            <th>コース名</th>
            <td><%= f.collection_select :facility_id, @facility, :facilityid, :facilityname, :include_blank => true %></td>
          </tr>
          <tr>
            <th>インストラクター名</th>
            <td><%= f.collection_select :id, @staff, :id, :name, :include_blank => true %></td>
            <th>日時</th>
            <td><%= f.collection_select :facility_id, @facility, :facilityid, :facilityname, :include_blank => true %></td>
          </tr>
          <tr>
            <th>顧客名</th>
            <td><%= f.collection_select :id, @staff, :id, :name, :include_blank => true %></td>
          </tr>
        </tbody>
      </table>
        <%= f.submit "検索", class: "btn btn-primary" %>
      <% end %>

      <!-- 表示欄 -->
    </div>
  </div>
</div>
