<% provide(:title, "Reservation input") %>
<div class="row">

  <div class="reservation-group">
    <p><%= @target.date %>　<%= @target.time %></p>
    <p><%= @target.course.name %>　<%= @target.staff.name %></p>
  </div>

  <div class="col-md-6 col-md-offset-3">
    <%= form_tag("/reservation/#{@target.id}", method: :get) do %>
      <%= text_field_tag :search %>
      <%= submit_tag 'Search' %>
    <% end %>

    <% if @current_user.nil? %>
      <%= form_for(:users, url: "#{@target.id}/create") do |f| %>
        <label>氏名</label>
        <%= f.text_field :name, class: 'form-control' %>

        <label>電話番号</label>
        <%= f.text_field :tel, class: 'form-control' %>

        <label>メールアドレス</label>
        <%= f.email_field :mail, class: 'form-control' %>

        <%= f.submit "予約する", class: "btn btn-primary center-block" %>
      <% end %>
    <% else %>
      <%= form_for(:users, url: "#{@target.id}/create") do |f| %>
        <label>会員番号</label>
        <%= f.text_field :id, :readonly => true, value: @current_user.id, class: 'form-control' %>

        <label>氏名</label>
        <%= f.text_field :name, :readonly => true, value: @current_user.name, class: 'form-control'%>

        <label>電話番号</label>
        <%= f.text_field :tel, :readonly => true, value: @current_user.tel, class: 'form-control' %>

        <label>メールアドレス</label>
        <%= f.email_field :mail, :readonly => true, value: @current_user.mail, class: 'form-control' %>

        <%= f.submit "予約する", class: "btn btn-primary center-block" %>
      <% end %>
    <%end %>
  </div>
</div>
