- provide(:title, "Edit Customer Information")
.custom-edit
  %h2= @current_user.name
  = form_for(:users, url: "/users/#{@current_user.id}/update") do |f|
    %label 電話番号
    = f.text_field :tel, value: @current_user.tel, class: 'form-control'
    %label メールアドレス
    = f.email_field :mail, value: @current_user.mail, class: 'form-control'
    = f.submit "更新する", class: "btn btn-primary center-block"
