- provide(:title, "Staff service")
.staff
  / 検索
  .select-staff
    = form_for(:session, url: login_path) do |f|
      %p インストラクター名
      = f.collection_select :id, @staff, :id, :name, :include_blank => true
  .member-list
    %table.user-table
      - @user.each do |user|
        %tr
          %th= user.name
          %td= link_to("詳細", "/users/#{user.id}")
