- provide(:title, "Material purchase history")
.material-history
  %h2= @current_user.name
  %table
    %thead
      %tr
        %th 購入No
        %th 日付
        %th 物販名
        %th 金額
    - @details.each do |d|
      %tbody
        %tr
          %td= d.id
          %td= d.date
          %td= d.material.name
          %td
            ¥#{d.material.price}
