<% provide(:title, "Material purchase history") %>

<div class="material-history">
  <h2><%= @current_user.name %></h2>
  <table>
    <thead>
      <tr><th>購入No</th><th>日付</th><th>物販名</th><th>金額</th></tr>
    </thead>
    <% @details.each do |d| %>
      <tbody>
        <tr>
          <td><%= d.id %></td>
          <td><%= d.date %></td>
          <td><%= d.material.name %></td>
          <td>¥<%= d.material.price %></td>
        </tr>
      </tbody>
    <% end %>
  </table>
</div>
