<% provide(:title, "Reservation history") %>

<div class="reservation-history">
  <h2><%= @current_user.name %></h2>
  <table class="table table-bordered">
    <thead>
      <tr><th>日付</th><th>時間</th><th>予約状況</th><th>予約番号</th><th>施設名</th><th>コース名</th><th>インストラクター名</th></tr>
    </thead>
    <% @details.each do |d| %>
      <tbody>
        <tr>
          <td><%= d.reservationframe.date %></td>
          <td><%= d.reservationframe.time %></td>
          <td>
            <% if d.status %>受講
            <% else %>キャンセル
            <% end %>
          </td>
          <td><%= d.reservationframe_id %></td>
          <td><%= d.reservationframe.facility.name %></td>
          <td><%= d.reservationframe.course.name %></td>
          <td><%= d.reservationframe.staff.name %></td>
        </tr>
      </tbody>
    <% end %>
  </table>
</div>
