- provide(:title, "Customer information")
.custom-manage
  %h2= @current_user.name
  %p= link_to "編集", "/users/#{@current_user.id}/edit"
  %table.table.table-bordered
    %tbody
      %tr
        %td 電話番号
        %td= @current_user.tel
      %tr
        %td メールアドレス
        %td= @current_user.mail
