%body
  %header.navbar.navbar-fixed-top.navbar-inverse
    .container
      %nav
        .collapse.navbar-collapse.target
          - if logged_in?
            %ul.nav.navbar-nav.navbar-right
              %li= link_to "予約管理", home_path
              %li= link_to "スタッフ業務", staff_path
              - if @current_user
                %li.dropdown
                  %a.dropdown-toggle{"data-toggle" => "dropdown", :href => "#"}
                    顧客管理
                    %b.caret
                  %ul.dropdown-menu
                    %li= link_to "顧客情報", "/users/#{@current_user.id}"
                    %li= link_to "予約履歴", "/users/#{@current_user.id}/reshistory"
                    %li= link_to "物販購入履歴", "/users/#{@current_user.id}/mathistory"
              %li= link_to "ログアウト", logout_path, method: :delete
        / スマホ表示
        %button.navbar-toggle{"data-target" => ".target", "data-toggle" => "collapse"}
          %span.icon-bar
          %span.icon-bar
          %span.icon-bar
